{:source-paths ["src"]
 :dependencies [[cider/cider-nrepl "0.21.0"]]
 :dev-http {8080 "target/browser"}
 :builds {:lib {:target :npm-module
                :output-dir "target/lib"}
          :browser {:target :browser
                    :output-dir "target/browser"
                    :asset-path "."
                    :modules {:main {:init-fn eth.browser/init}}
                    :devtools {:after-load eth.browser/init}}}}
